<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		
		<meta charset="ISO-8859-1"></meta>
		
		<title>Cliente</title>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">
		</link>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script type="text/javascript" th:src="@{/js/race.js}"></script>

	</head>
	
	<body>
	
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container">
			<form th:action="@{/cliente/registrar}" method="post" th:object="${cliente}">
				<div class="form-group">
					
					<label for="CCliente">CODIGO:</label> 
					<input type="text" class="form-control" th:field="*{CCliente}"></input>
					<div class="alert alert-danger" th:if="${#fields.hasErrors('CCliente')}" 
							th:errors="*{CCliente}">
						</div>
						
					<div class="form-group">
					
						<label 	for="numdni">DNI:</label> 
						<input type="text" th:field="*{NumDNI}" class="form-control" id="numdni"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('NumDNI')}" 
							th:errors="*{NumDNI}">
						</div>
					</div>
					
					<div class="form-group">
					
						<label 	for="nombre">NOMBRE Y APELLIDO:</label> 
						<input type="text" th:field="*{NNombreyApellido}" class="form-control" id="nombre"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('NNombreyApellido')}" 
							th:errors="*{NNombreyApellido}">
						</div>
					</div>
					
					<div class="form-group">
					
						<label 	for="TCorreo">CORREO:</label> 
						<input type="text" th:field="*{TCorreo}" class="form-control" id="TCorreo"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('TCorreo')}" 
							th:errors="*{TCorreo}">
						</div>
					</div>
					
					<label for="FNacimiento">FECHA DE NACIMIENTO:</label> <input
						type="date" th:field="*{FNacimiento}" class="form-control"
						id="FNacimiento"></input>
						<!-- th:errors Se encarga del manejo de errores -->
					<div class="alert alert-danger"
						th:if="${#fields.hasErrors('FNacimiento')}"
						th:errors="*{FNacimiento}"></div>
					
					<label for="nacionalidad" class=" col-sm-2 col-form-label">NACIONALIDAD: </label>
					<select
						class="form-control" th:field="*{nacionalidad.CNacionalidad}">
						<option th:each="n: ${listaNacionalidades}" th:value="${n.CNacionalidad}"
							th:text="${n.NNacionalidad}"
							th:selected="(${n.CNacionalidad} == *{nacionalidad.CNacionalidad})"></option>
					</select>
					
					<div th:object="${usuario}">
						<div class="form-group">
					
							<label 	for="username"> USERNAME:</label> 
							<input type="text" th:field="*{username}" class="form-control" id="username"></input>
		
							<div class="alert alert-danger" th:if="${#fields.hasErrors('username')}" 
								th:errors="*{username}">
							</div>
						</div>
					
						<div class="form-group">
					
							<label 	for="password">PASSWORD:</label> 
							<input type="text" th:field="*{password}" class="form-control" id="password"></input>
		
							<div class="alert alert-danger" th:if="${#fields.hasErrors('password')}" 
								th:errors="*{password}">
							</div>
						</div>
					</div>
					
				</div>
				
				<button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/cliente/listar" class="btn btn-danger">Cancelar</a>
			</form>
		</div>
	
		<div th:replace="fragments/footer :: footer"></div>

	</body>
	
</html>