<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		
		<meta charset="ISO-8859-1"></meta>
		
		<title>Recarga</title>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">
		</link>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script type="text/javascript" th:src="@{/js/race.js}"></script>

	</head>
	
	<body>
	
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container">
			<form th:action="@{/recarga/registrar}" method="post" th:object="${recarga}">
				<div class="form-group">
					
					<label for="CRecarga">CODIGO:</label> 
					<input type="text" class="form-control" th:field="*{CRecarga}"></input>
					
					<div class="form-group">
					
					<label for="DFecha">FECHA DE RECARGA:</label> <input
						type="date" th:field="*{DFecha}" class="form-control"
						id="DFecha"></input>
						<!-- th:errors Se encarga del manejo de errores -->
					<div class="alert alert-danger"
						th:if="${#fields.hasErrors('DFecha')}"
						th:errors="*{DFecha}"></div>
						
						<label 	for="monto">MONTO:</label> 
						<input type="text" th:field="*{MMonto}" class="form-control" id="monto"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('MMonto')}" 
							th:errors="*{MMonto}">
						</div>
						
					</div>
					
					<label for="tmtro" class=" col-sm-2 col-form-label">TARJETA METROPOLITANO: </label>
					<select
						class="form-control" th:field="*{tmetro.CTarjetaMetro}">
						<option th:each="t: ${listaTMetros}" th:value="${t.CTarjetaMetro}"
							th:text="${t.NumTMetro}"
							th:selected="(${t.CTarjetaMetro} == *{tmetro.CTarjetaMetro})"></option>
					</select>
										
					<label for="promocion" class=" col-sm-2 col-form-label">PROMOCION: </label>
					<select
						class="form-control" th:field="*{promocion.CPromocion}">
						<option th:each="p: ${listaPromociones}" th:value="${p.CPromocion}"
							th:text="${p.NPromocion}"
							th:selected="(${p.CPromocion} == *{promocion.CPromocion})"></option>
					</select>
					
				</div>
				
				<button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/recarga/listar" class="btn btn-danger">Cancelar</a>
			</form>
		</div>
	
		<div th:replace="fragments/footer :: footer"></div>

	</body>
	
</html>