<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		
		<meta charset="ISO-8859-1"></meta>
		
		<title>Tarjeta</title>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">
		</link>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script type="text/javascript" th:src="@{/js/race.js}"></script>

	</head>
	
	<body>
	
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container">
			<form th:action="@{/tarjeta/registrar}" method="post" th:object="${tarjeta}">
				<div class="form-group">
					
					<label for="CTarjeta">CODIGO:</label> 
					<input type="text" class="form-control" th:field="*{CTarjeta}"></input>
					<div class="alert alert-danger" th:if="${#fields.hasErrors('CTarjeta')}" 
							th:errors="*{CTarjeta}">
						</div>
					
					<div class="form-group">
					
						<label 	for="numtarjeta">NUMTARJETA:</label> 
						<input type="text" th:field="*{NumTarjeta}" class="form-control" id="numtarjeta"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('numTarjeta')}" 
							th:errors="*{numTarjeta}">
						</div>
					</div>
					
					<label for="cliente" class=" col-sm-2 col-form-label">CLIENTE: </label>
					<select
						class="form-control" th:field="*{cliente.CCliente}">
						<option th:each="c: ${listaClientes}" th:value="${c.CCliente}"
							th:text="${c.NNombreyApellido}"
							th:selected="(${c.CCliente} == *{cliente.CCliente})"></option>
					</select>
					
					<label for="entidad" class=" col-sm-2 col-form-label">ENTIDAD: </label>
					<select
						class="form-control" th:field="*{entidad.CEntidad}">
						<option th:each="e: ${listaEntidades}" th:value="${e.CEntidad}"
							th:text="${e.NEntidad}"
							th:selected="(${e.CEntidad} == *{entidad.CEntidad})"></option>
					</select>
					
					<label for="ttarjeta" class=" col-sm-2 col-form-label">TTARJETA: </label>
					<select
						class="form-control" th:field="*{ttarjeta.CTTarjeta}">
						<option th:each="tt: ${listaTTarjetas}" th:value="${tt.CTTarjeta}"
							th:text="${tt.NTTarjeta}"
							th:selected="(${tt.CTTarjeta} == *{ttarjeta.CTTarjeta})"></option>
					</select>
					
				</div>
				
				<button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/tarjeta/listar" class="btn btn-danger">Cancelar</a>
			</form>
		</div>
	
		<div th:replace="fragments/footer :: footer"></div>

	</body>
	
</html>